streamlit
streamlit-lottie
python-dotenv
pyttsx3
pyaudio
langdetect
gTTS
audio-recorder-streamlit
PyPDF2
python-pptx
google-generativeai
SpeechRecognition
langchain-google-genai
pandas
streamlit-folium
chardet
IPython
