streamlit
streamlit-lottie
python-dotenv
pyttsx3
langdetect
gTTS
PyPDF2
pyAudio
python-pptx
google-generativeai
SpeechRecognition
langchain-google-genai
pandas
streamlit-folium
chardet
IPython
